# compiled output
/node_modules
package-lock.json

# Enviroment Variables
.env

# mock
mock.js

# Logs
logs
*.log
npm-debug.log*

# Tests
/coverage
/.nyc_output
lcov-report
lcov.info


# IDEs and editors
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode